@model Spp.API.Models.ProyectoViewModel
@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 
            <partial name="_DatosPry"/>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>
